.donate{ 
    margin: 5px;
}
button, li{
    text-decoration: none;
    display: inline-block;
}
button{
  height: 30px;
  width: 55px;
}
hr{
    color: rgba(165, 158, 158, 0.884);
    margin: 1px;
}
 form {
    border: 1px solid #f1f1f1;
}  
 button:hover {
    opacity: 0.8;
} 
 h5{
    text-align: center;
    margin: 1px;
} 
.information{
    color: blue;
    border: 1px solid  rgba(165, 158, 158, 0.884);
    background-color:rgb(240, 237, 232);
    margin: 15px;
}