<ul>
    <div>
    <li><button class="btn btn-primary" (click)="showCashPage()" class="cashbtn" >Cash</button></li>
    <li> &nbsp; &nbsp;<button class="btn btn-primary" (click)="showinkindPage()" class="cashbtn">kind</button></li> 

    <li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <label>Donation:
      <button class = "btn btn-success" style="width: 100px;">{{amountdonated + estimatedamount}}&#8364;</button>
      </label>
    </li>
    <li> &nbsp;
        <label>Donors:
        <button class = "btn btn-danger" style="width: 80px;">#{{counter + counter2}}</button>
        </label>
    </li>      
  </div>
  </ul>


   <h3 class="information" *ngIf="showProfile"> The amount you donated is:
       <span style="color: brown"><b>{{amount}} &#8364;</b></span>. We kindly request you 
       to fill this form and submit by clicking the submit button too.
   </h3 >

<div class="donate" *ngIf="showCashPageprofile">
   
    <p> Our church income totally relies on donation. Donate as you want as you like by clicking the amount you want
        to donate or you can write the amount on the other field.
    </p><hr>
    
    <ul class="Num-button">
        
        <li><button type="button" class="btn btn-primary"(click)="insert(1)">1&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(5)">5&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(10)">10&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(15)">15&#8364;</button></li><br>
        <li><button type="button" class="btn btn-primary"(click)="insert(20)">20&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(50)">50&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(90)">90&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(100)">100&#8364;</button></li><br>
        <li><button type="button" class="btn btn-primary"(click)="insert(200)">200&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(500)">500&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(800)">800&#8364;</button></li>
        <li><button type="button" class="btn btn-primary"(click)="insert(1000)">1000&#8364;</button></li><br>
        <li><span><b>Others:</b></span> <input type="number" [(ngModel)]="amount" style="width: 80px; height: 30px;">
       <span>&#8364;</span>  <button type="button" class="btn btn-success" 
       (click)="createProfile()">Enter</button></li>
      </ul>
      
</div >
  
  <div class="panel-body" *ngIf="showProfile">
      <form #profileForm="ngForm" (ngSubmit)="saveDonation(profile)"> 
          <div class="form-group">
              <label for="fname">First Name:</label>
              <input type="text"  class="form-control" id="fname" placeholder="Enter fname" 
              name="firstname" [(ngModel)]= "profile.firstname" required>
            </div>

            <div class="form-group">
              <label for="lname">Last Name:</label>
              <input type="text" class="form-control" id="lname" placeholder="Enter lname"
               name="lastname"[(ngModel)]= "profile.lastname" required>
            </div>

              <div class="form-group">
              <label for="AmountDonated">Amount Donated:</label>
              <input type="number"class="form-control" id="AmountDonated" placeholder="Enter amount Donated" 
              name="amountdonated" 
              required [(ngModel)]="profile.amountdonated">
               </div>

              <div class="form-group">
              <label for="card">Card Number:</label> &nbsp;<img src="assets/master.jpg" style="width: 60px;height: 30px;">
              &nbsp; <img src="assets/visa.png" style="width: 60px;height: 30px;">
              &nbsp;<img src="assets/paypall.jpg" style="width: 60px;height: 30px;">
              <input type="number" class="form-control" id="card" placeholder="Enter cardnumber"
               name="cardnumber" [(ngModel)]="profile.cardnumber" required>
               </div>              

              <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Enter Useremail"
               name="useremail" [(ngModel)]="profile.useremail"required email>
            </div>
            <div class="form-group">
                <label for="credit">Credit Cards:</label>  
               <select  id="credit" class="form-control" placeholder="select credit card" 
                name="credit" [(ngModel)]="profile.credit" required>
                <option>Matser Card</option>
                <option>Visa Card</option>
                <option>paypall</option>
                </select>
              </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:80px;"
               [disabled]="!profileForm.valid" > <i class="fas fa-save"></i>Submit</button>
            </div>
         </form>
        </div>

        <div style="background-color:rgba(223,223,223, 0.5);padding-top: 25px; color:blue; margin-left: 35px; 
          margin-right: 35px; text-align: center; height: 150px;vertical-align: middle;" *ngIf="goback">
         <h2>Thank you very Much for Your Donation</h2>
        <footer style="text-align: center; padding-top: 25px;" >
         <button type="button" class="btn btn-success" style="width:80px;" (click)="back()">Go Back</button>
        </footer>
        </div>
  
        <div  *ngIf="showinkindPageprofile">
            <h1 style="color: crimson;text-align: center;">Donate Now</h1>
            
       <div *ngFor="let k of kind" class="col-sm-4">
         <div class="thumbnail">   
              <img src="assets/Donation/{{k.image}}" style="width: 150px; height:150px;padding:20px;">
              
                  <h5><button style="width: 80px; height: 40px;
                     background-color:red;color:blanchedalmond" (click)="donateProfile()">
                      Donate now</button></h5>
                    <h5>{{k.type}}</h5>     
           </div> 
       </div> 
       </div>
         
      <div class="panel-body" *ngIf="showinkindPageprofile">
                <h3>Add a New Donation Other Than List Above</h3>
              <div class="form-group" col-md-8>
                  <label for="type" class="">Inkind Donations</label>
                  <input type="text" #addtype
                 class="form-control"
                 placeholder="Type donation other than above"
                 name="type"
                 ngModel
                 required> <button class="btn btn-primary"
                 (click)=addDonation(addtype.value)>Add </button>
              </div>
        </div>
    
         <div class="panel-body"  *ngIf="donateDetail">
                    <h2 style="text-align: center; margin:0px;color: brown;">Donor Details</h2><hr>
                <form #donateForm="ngForm" (ngSubmit)= "saveKindDonation(donate)">
                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text"  class="form-control" id="fname" placeholder="Enter First name" 
                        name="firstname" [(ngModel)]= "donate.firstname" required>
                      </div>
          
                      <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter last name"
                         name="lastname"[(ngModel)]= "donate.lastname" required>
                      </div>
                      
                        <div class="form-group">
                        <label for="homeaddress">Home Address:</label>
                        <input type="text"class="form-control" id="homeaddress" placeholder="Home address" 
                        name="homeaddress" 
                          required [(ngModel)]="donate.homeaddress">
                         </div>

                        <div class="form-group">
                        <label for="estimatedamount">Estimated Amount in cash:</label>
                        <input type="number" class="form-control" id="estimatedamount" 
                        placeholder="Estimated amount in cash"
                         name="estimatedamount" [(ngModel)]="donate.estimatedamount" required>
                         </div>              
          
                        <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter Useremail"
                         name="useremail" [(ngModel)]="donate.useremail"required email>
                      </div>
                      <div class="form-group">
                        <label for="item">Donation Item:</label> 
                       <select  id="item" class="form-control" placeholder="select the material you donate" 
                        name="item" [(ngModel)]="donate.item" required>
                        <option>Bible</option>
                        <option>House</option>
                        <option>Cloth</option>
                        <option>Car</option>
                        <option>Water</option>
                        <option>Drug</option>
                        <option>Food</option>
                        <option>other</option>
                        <option>Church Materials</option>
                        </select>
                      </div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-primary" style="width:80px;"
                         [disabled]="!donateForm.valid"><i class="fas fa-save"></i> submit</button>
                      </div> 
                   </form>
                  </div>

             <div style="background-color:rgba(223,223,223, 0.5); padding-top: 20px; color:blue; margin-left: 35px; 
                  margin-right: 35px; text-align: center; height: 150px;vertical-align: middle;" 
                  *ngIf="gobackkindprofile">
                 <h2>Thank you very Much for Your Donation</h2>
                 <div style="text-align: center; padding-top: 25px;">
                 <button type="button" class="btn btn-success" style="width:80px;" (click)="backKindProfile()">Go Back</button>
                </div>
                </div>

            
        