<ul class="cashbtn">
    <li><button (click)="showCashPage()" class="cashbtn" >Cash</button></li>
    <li><button (click)="showinkindPage()" class="cashbtn">Inkind</button></li>
    
  </ul>
  
<div class="donate" *ngIf="showCashPageprofile">
   
    <!-- Our Ortho. church relies on small donations from believers. Hence donate and strengthen our church service.  -->
    <p> Our church income totally relies on donation. Donate as you want as you like by clicking the amount you want
        to donate or you can write the amount on the other field.
    </p><hr>
    <ul class="Num-button">
        <li><button (click)="insert(1)">&nbsp;1&#8364;</button></li>
        <li><button (click)="insert(5)"> &nbsp;5&#8364;</button></li>
        <li><button (click)="insert(10)">10&#8364;</button></li>
        <li><button (click)="insert(15)">15&#8364;</button></li>
        <li><button (click)="insert(20)">20&#8364;</button></li>
        <li><button (click)="insert(50)">50&#8364;</button></li>
        <li><button (click)="insert(90)">90&#8364;</button></li>
        <li><button (click)="insert(100)">100&#8364;</button></li>
        <li><button (click)="insert(200)">200&#8364;</button></li>
        <li><button (click)="insert(500)">500&#8364;</button></li>
        <li><button (click)="insert(800)">800&#8364;</button></li>
        <li><button (click)="insert(1000)">1000&#8364;</button></li>
        <li><span><b>Others:</b></span> <input type="number" [(ngModel)]="amount" 
            style="width: 60px;height: 20px; color: blueviolet; font-size: 10px;">
       <span>&#8364;</span>  <button class="enterbtn" style="width: 40px; height: 25px;" (click)="createProfile()">
            Enter</button></li>
      </ul>
</div>


<div class="profile-container" *ngIf="showProfile">
        <form #profileForm="ngForm">
            <div class="imgcontainer">
              <img src="assets/images.jpg" alt="Avatar" class="avatar"
              
              style= "width:50px; height:25px; position: absolute; left:200px; top: 1px; border-radius: 50%;">
              </div>
             
          
            <div class="container" >
              <label for="FirstName"><b>First Name</b></label>
              <input type="text" placeholder="Enter fname" name="firstname" [(ngModel)]= "FirstName" required>
        
              <label for="LastName"><b>Last Name</b></label>
              <input type="text" placeholder="Enter lname" name="lalstname"[(ngModel)]= "LastName" required>
        
              <label for="AmountDonated"><b>Amount Donated &nbsp;</b></label>
              <input type="number" placeholder="Enter amount Donated" name="amountdonated" 
              required [(ngModel)]="amount">
        
              <label for="CardNumber"><b>Card Number &nbsp;</b></label>
              <input type="number" placeholder="Enter cardnumber" name="cardnumber" [(ngModel)]="CardNumber" required>
              
              <label for="UserEmail"><b>User Email</b></label>
              <input type="text" placeholder="Enter Useremail" name="uneremail" [(ngModel)]="UserEmail"required>
          
              <label for="Password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="Password" required>
          
              <button type="submit" class="sub-button">Submit</button>
              <label>
                <button class="signup"><a href="#">Sign Up</a></button>
              </label>
            </div>
          
            <div class="container">
              <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
            </div>
          </form>
          {{profileForm.value|json}}
        </div>
        <div  *ngIf="showinkindPageprofile">
       <div>
         <ul>
           <li *ngFor="let k of kind" class="inkind-container">
              <img src="assets/{{k.image}}" style="width: 150px; height:150px;padding:20px;">
              
                  <h5><button style="width: 60px; height: 30px;
                     background-color:red;color:blanchedalmond" (click)="donateProfile()">
                      Donate</button></h5>
                    <h5>{{k.type}}</h5>     
           </li>
         </ul>
       </div>
        </div>
        
        <div *ngIf="donateDetail">
            <div class="profile-container">
                <form #donateForm="ngForm">
                    {{donateForm.value|json}}
                    <div class="imgcontainer">
                      <img src="assets/images.jpg" alt="Avatar" class="avatar"
                      
                      style= "width:50px; height:25px; position: absolute; left:200px; top: 1px; border-radius: 50%;">
                      </div>
                                        
                    <div class="container" >
                      <label for="FirstName"><b>First Name</b></label>
                      <input type="text" placeholder="Enter fname" name="firstname" [(ngModel)]="FirstName" required>
                
                      <label for="LastName"><b>Last Name</b></label>
                      <input type="text" placeholder="Enter lname" name="lastname" [(ngModel)]="LasttName" required>
                
                      <label for="HomeAdress"><b>Home Adress &nbsp;</b></label>
                      <input type="text" placeholder="Home Adress" name="homeadress" 
                      [(ngModel)]="HomeAdress" required>
      
                      <label for="EstimatedAmount"><b>Estimated Amount in cash &nbsp;</b></label>
                      <input type="number" placeholder="Estimated Amount in cash" name="estimatedamount" 
                      [(ngModel)]="EstimatedAmount"  required>
                      
                      <label for="UserEmail"><b>User Email</b></label>
                      <input type="text" placeholder="Enter Username" name="useremail" [(ngModel)]="UserEmail" required>
                  
                      <label for="password"><b>Password</b></label>
                      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
                  
                      <button type="submit" class="sub-button">Submit</button>
                      <label>
                        <button class="signup"><a href="#">Sign Up</a></button>
                      </label>
                    </div>
                  
                    <div class="container">
                      <button type="button" class="cancelbtn" (click)="oncancel()">Cancel</button>
                    </div>
                  </form>
                  
        </div>
        