.final-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;

}

.final-projects > * {
    grid-column: span 1;
    position: relative;
    background-color: rgba(0,0,0,0.05);
}
