<div class="flex-container">
    <div class="toolbar">
           
        <i (click)="showAbout=true" class="fas fa-info"></i>
        <!-- <b>DONATION App</b>  -->
        
        
    </div>
    <nav>
            <ul>
                    <li> <a routerLink="/">Home</a></li>
                    <li> <a routerLink="/create">create</a></li>
                    <li> <a routerLink="/list">list</a></li>
                </ul>
    </nav>
    <div class="panel">
            <router-outlet></router-outlet>
          <!-- <app-donation ></app-donation> -->
          <!-- <app-list-donation> </app-list-donation>  -->
           <!-- *ngIf="showAbout" -->
         
        <!-- put here your component -->
    </div>
    <div class="about" *ngIf="showAbout">
        <p>This is the final project of<br><br><strong>[YESHAMBEL WORKIE YIMER]</strong><br><br>as [HIS] participation in
            <br><strong>REvive Greece</strong>'s Web Front End Development Course<br>
            held at <strong>HIGGS</strong> from 11/4/2018 to 6/7/2018, and is free of charge for the participants.</p>
        <p>It is written in Angular 6, using HTML 5, CSS 3 and TypeScript.</p>
        <p>Mentored by [YOUR MENTORS NAME]</p>
        <p>To <strong>contact [YESHAMBEL WORKIE YIMER]</strong> use <a href="mailto:[yeshambelw@yahoo.com]">[yeshambelw@yahoo.com]</a><br>
           To <strong>contact REvive Greece</strong> use <a href="mailto:info@revivegreece.org">info@revivegreece.org</a></p>
        <p><i (click)="showAbout=false" class="fas fa-times close"></i></p>
    </div>
    
</div>
